/* 
Animazione di aggiunta al carrello
  - Riempi bordo della card ? 
  - Cambia lo sfondo e rendi più grigio ? 

*/

* {
    box-sizing: border-box;
}

footer {
/*     width: 100%;
    position: fixed; 
    bottom: 0px; */
}